@import "tailwindcss";

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Vara";
  src: url("/fonts/proxima-vara/proxima-vara.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
} */
